extends ../../../../templates/masteradmin1
block addcss
	//- link(rel='stylesheet' href='css/fullcalendar.css')
	//- link(rel='stylesheet' href='css/fullcalendar.print.css'  media='print')

block prepend main
	#wrap
	div(style='clear:both')
	.content.p-1
		.container-fluid
			.card
				.card-body
					.row
						.col-md-6
							img.img.img-fluid.rounded.shadow(src='/img/wedding organizing/package2/bridalbouquet4.jpg' alt="...")
						.col-md-6
							.row
								.col-md-12
									h3.main--header.font-italic.text-center.m-0 Birth Certificate
							p.mt-2 Lorem ipsum dolor sit amet, albucius oportere sea ad, ex inani molestie usu, atomorum electram ex |ius. No etiam legendos reprehendunt per. Id nihil melius delenit eum, ne sed tantas suscipiantur, vis utamur praesent democritum ne. Ad pri constituto cotidieque, ut modus impedit omittantur his. Vis no habeo timeam periculis, eu per facer timeam legendos.
								| Cum modo atqui persequeris in, duo sumo eirmod ad, ut debet tibique quo. Consul sapientem maiestatis ut cum. Ad mei veniam appareat invidunt, duo saepe concludaturque vituperatoribus ne. Assum reprimique duo te. In per vitae affert quaestio, stet iusto conclusionemque vix in.
							strong I like fishy

block addjs
	//- script(src='js/forIndex.js')
	//- script(src='js/loader.js')
