extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Document Request
						p.text-uppercase.card-desc
							| Guidelines | Requirements
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Document Request Form
				.row
					.col-md-12.my-3
						form(action="#")
							.form-group
								label.label-control Document Type
								.dropdown
									a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										| Document
									.dropdown-menu(aria-labelledby='dropdownMenuLink')
										a.dropdown-item(href='#') Action
										a.dropdown-item(href='#') Another action
										a.dropdown-item(href='#') Something else here
				.row
					.col-md-12.my-3
						label.label-control Name of the person in certificate:
				.row
					.col-md-4.my-3
						label.label-control Last Name
						input.form-control(type='text')
					.col-md-4.my-3
						label.label-control First Name
						input.form-control(type='text')
					.col-md-4.my-3
						label.label-control Middle Name
						input.form-control(type='text')
				.row
					.col-md-12.my-3
						.form-group
							label(for='exampleFormControlTextarea1') Purpose:
							textarea#exampleFormControlTextarea1.form-control(rows='3')
				.row
					.col-md-12.my-5.text-center
						a.btn-design.btn-valid(href="#") Request Document
