extends ../../../templates/mastercoordinators
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/wedding organizing/package2/flowers.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Wedding Organizing
						p.text-uppercase.card-desc
							| Mr. and Mrs. Reyes
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							hr.mt-5.mx-5
					
					.row
						.col-md-4
							.row
								#form-facility
									#calendar
							.row
								<div class="card" style="width: 20rem;">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
									</ul>
								</div>
					
						.col-md-8
							<div class="card border-light mb-3" style="max-width: 50rem;">
								//- <div class="card-header" style="width: 18rem; margin: auto">Header</div>
								<div class="card-body">
									<h5 class="card-title">Light card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
									<p class="card-text">Some quick example text to build on the card title and make up the</p>
								</div>
								//- <div class="card-footer bg-transparent border-success">Footer</div>
								</div>
							