extends ../../../../templates/masteradmin1
block addcss
	//- link(rel='stylesheet' href='css/fullcalendar.css')
	//- link(rel='stylesheet' href='css/fullcalendar.print.css'  media='print')

block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Edit
						
							form.form(action=`/admin/maintenance-facilities/edit/${facilities.int_facilityID}` method="post")
									.form-group
											label.label-control Facility Name
											input.form-control(type='text' name='facilityname' value=`${facilities.var_facilityname}`)
									
									.form-group
											label.label-control Fee
											input.form-control(type='text' name='fee' value=`${facilities.flt_rentfee}`)
																			
									.row
										.col-md-12.text-center.my-3
											button.btn.btn-primary(type='submit') Update	
	
block addjs
	script(src='/js/forIndex.js')
	