extends ../../../../templates/masteradmin1
block addcss
	//- link(rel='stylesheet' href='css/fullcalendar.css')
	//- link(rel='stylesheet' href='css/fullcalendar.print.css'  media='print')

block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Edit
						
							form.form(action=`/admin/maintenance-requirements/edit/${requirements.int_reqtypeID}` method="post")
									.form-group
											label.label-control Requirement Name
											input.form-control(type='text' name='reqname' value= `${requirements.var_reqname}`)
									.form-group
											label.label-control Requirement Description
											input.form-control( rows="2" name='reqdesc' value= `${requirements.var_reqdesc}`)
									.form-group
													label.label-control Requirment for:
															select.form-control(type="text" name='eventname' )
																	option Anointing of the sick
																	option Baptism
																	option Confirmation
																	option First Communion
																	option Funeral Blessing 
																	option Marriage
																	option Establishment Blessing
																	option Facility Reservation
																	option Document Request
																	
									.row
											.col-md-12.text-center.my-3
													button.btn.btn-primary(type='submit') Add		
block addjs
	script(src='/js/forIndex.js')
	