extends ../../../../templates/masteradmin1
block addcss
	//- link(rel='stylesheet' href='css/fullcalendar.css')
	//- link(rel='stylesheet' href='css/fullcalendar.print.css'  media='print')

block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Request Form
						
							form(action=`/admin/maintenance-services/edit/${services.int_eventID}` method="post")
								.row
										.col-md-6.my-3
												
												.form-group
														label.label-control Event Name
														input.form-control(type='text' name='eventname' value=`${services.var_eventname}`)
												
												.form-group
														label.label-control(for='exampleFormControlTextarea1') Event Description:
														input.form-control(rows='2' name='eventdesc' value=`${services.var_eventdesc}`)
												
												.row
														.col-md-12.my-5.text-center
																button.btn.btn-primary(type='submit') Submit
	#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			// Content
			.modal-content
				// Header
				.modal-header
					p.heading.lead Add Event
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				// Body
				.modal-body
					form.form(action="/admin/maintenance-events/add" method="post")
						.form-group
							label.label-control Event Name
							input.form-control(type='text' name='spceventname')
						.form-group
							label.label-control Event Description
							textarea.form-control( rows="2" name='eventdesc')
						.row
							.col-md-6
								.form-group
										label.label-control Start
										input.datepickerBirthday.form-control(type='date' name='start')
							.col-md-6
								.form-group.mt-1
										label.label-control End
										input.timepicker.form-control(type='text' name='end')
						.form-group
							label.label-control Venue
							input.form-control(type='text' name='venue')
						.form-group
								label.label-control Event Type
									select.selectpicker.form-control(type="text" name='eventtype')
										option Open for everyone
										option Exclusive
										
						.row
							.col-md-12.text-center.my-3
								button.btn.btn-primary(type='submit') Add	
		
block addjs
	script(src='/js/forIndex.js')
	