extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Document
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Request Form
				.row
					.col-md-8.my-auto.mx-auto
						form(action="#")
							.form-group
								label.label-control Document
									select.selectpicker.form-control(type="text" name='relation')
										option Baptismal Certificate
										option Confirmation Certificate
										option First Communion Certificate
							.row
								.col-md-12.my-3
									label.label-control Person in the Certificate:
							.row
								.col-md-4.my-3
									label(for='lastName') Last Name
									input#lastName.form-control(type='text')
								.col-md-4.my-3
									label(for='firstName') First Name
									input#firstName.form-control(type='text')
								.col-md-4.my-3
									label(for='middleName') Middle Name
									input#middleName.form-control(type='text')
							.row
								.col-md-12.my-3
									.form-group
										label(for='exampleFormControlTextarea1') Purpose:
										textarea#exampleFormControlTextarea1.form-control(rows='3')
							.row
								.col-md-12.my-5.text-center
									button.btn.btn-primary(type="submit") Submit
