extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Baptism
						p.text-uppercase.card-desc
							| Guidelines | Requirements
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Event Application Form
				.row
					.col-md-12.my-3
				form(action="/guest/marriage/form" method="post")
					input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
					.row
						.col-md-6.my-3
							h2 GROOM
							.form-group
								label.label-control Name:
								.row
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Last Name" name='lastname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="First Name" name='firstname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Middle Name" name='middlename')
							.form-group
								label.label-control Birthday
								input#datepicker.form-control(type='date' name='birthday')
							.form-group
								label.label-control Birthplace:
								input.form-control(type='text' name='birthplace')
							.form-group
								label(for='exampleFormControlTextarea1') Address:
								textarea#exampleFormControlTextarea1.form-control(rows='2' name='address')
							.form-group
								label.label-control Nationality:
								input.form-control(type='text' name='gnationality')
							.form-group
								label.label-control Civil status:
								input.form-control(type='text' name='gcivilstatus')
							.form-group
								label.label-control Religion:
								input.form-control(type='text' name='greligion')
							.form-group
								label.label-control Current parish:
								input.form-control(type='text' name='gcurrentparish')
							.form-group
								label.label-control Occupation:
								input.form-control(type='text' name='goccupation')
							.form-group
								label.label-control Father's name:
								input.form-control(type='text' name='gfathername')
							.form-group
								label.label-control Father's birthplace:
								input.form-control(type='text' name='gfatherbplace')
							.form-group
								label.label-control Father's religion:
								input.form-control(type='text' name='gfatherreligion')
							.form-group
								label.label-control Mother's name:
								input.form-control(type='text' name='gmothername')
							.form-group
								label.label-control Mother's birthplace:
								input.form-control(type='text' name='gmotherbplace')
							.form-group
								label.label-control Mother's religion:
								input.form-control(type='text' name='gmotherreligion')
							.form-group
								label.label-control Baptized?
								.ml-4
									.form-check
										label.form-check-label
											input#exampleRadios1.form-check-input(type="radio" name="gbaptized" value="1")
											.dropdown-toggle.mr-3 Yes
											span.circle
												span.check
										#textarea1.form-group
											.form-group
												label.label-control Parish where you were baptized:
												input.form-control(type='text' name='gbapplace')
											.form-group
												label.label-control Date when you were baptized:
												input#datepicker.form-control(type='date' name='gbapdate')
											
									.form-check
										label.form-check-label
											input#radioup.form-check-input(type="radio" name="gbaptized" value="0" )
											| No
											span.circle
												span.check
							
							.form-group
								label.label-control Confirmed?
								.ml-4
									.form-check
										label.form-check-label
											input#exampleRadios1.form-check-input(type="radio" name="gconfirmed" value="1")
											.dropdown-toggle.mr-3 Yes
											span.circle
												span.check
										#textarea1.form-group
											.form-group
												label.label-control Parish where you were confirmed:
												input.form-control(type='text' name='gconplace')
											.form-group
												label.label-control Date when you were confirmed:
												input#datepicker.form-control(type='date' name='gcondate')
											
									.form-check
										label.form-check-label
											input#radioup.form-check-input(type="radio" name="gconfirmed" value="0" )
											| No
											span.circle
												span.check
							
						.col-md-6.my-3
							h2 BRIDE
							.form-group
								label.label-control Name:
								.row
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Last Name" name='blastname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="First Name" name='bfirstname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Middle Name" name='bmiddlename')
							.form-group
								label.label-control Birthday
								input#datepicker.form-control(type='date' name='bbirthday')
							.form-group
								label.label-control Birthplace:
								input.form-control(type='text' name='bbirthplace')
							.form-group
								label(for='exampleFormControlTextarea1') Address:
								textarea#exampleFormControlTextarea1.form-control(rows='2' name='baddress')
							.form-group
								label.label-control Nationality:
								input.form-control(type='text' name='bnationality')
							.form-group
								label.label-control Civil status:
								input.form-control(type='text' name='bcivilstatus')
							.form-group
								label.label-control Religion:
								input.form-control(type='text' name='breligion')
							.form-group
								label.label-control Current parish:
								input.form-control(type='text' name='bcurrentparish')
							.form-group
								label.label-control Occupation:
								input.form-control(type='text' name='boccupation')
							.form-group
								label.label-control Father's name:
								input.form-control(type='text' name='bfathername')
							.form-group
								label.label-control Father's birthplace:
								input.form-control(type='text' name='bfatherbplace')
							.form-group
								label.label-control Father's religion:
								input.form-control(type='text' name='bfatherreligion')
							.form-group
								label.label-control Mother's name:
								input.form-control(type='text' name='bmothername')
							.form-group
								label.label-control Mother's birthplace:
								input.form-control(type='text' name='bmotherbplace')
							.form-group
								label.label-control Mother's religion:
								input.form-control(type='text' name='bmotherreligion')
							.form-group
								label.label-control Baptized?
								.ml-4
									.form-check
										label.form-check-label
											input#exampleRadios1.form-check-input(type="radio" name="gbaptized" value="1")
											.dropdown-toggle.mr-3 Yes
											span.circle
												span.check
										#textarea1.form-group
											.form-group
												label.label-control Parish where you were baptized:
												input.form-control(type='text' name='bbapplace')
											.form-group
												label.label-control Date when you were baptized:
												input#datepicker.form-control(type='date' name='bbapdate')
											
									.form-check
										label.form-check-label
											input#radioup.form-check-input(type="radio" name="gbaptized" value="0" )
											| No
											span.circle
												span.check
							
							.form-group
								label.label-control Confirmed?
								.ml-4
									.form-check
										label.form-check-label
											input#exampleRadios1.form-check-input(type="radio" name="bconfirmed" value="1")
											.dropdown-toggle.mr-3 Yes
											span.circle
												span.check
										#textarea1.form-group
											.form-group
												label.label-control Parish where you were confirmed:
												input.form-control(type='text' name='bconplace')
											.form-group
												label.label-control Date when you were confirmed:
												input#datepicker.form-control(type='date' name='bcondate')
											
									.form-check
										label.form-check-label
											input#radioup.form-check-input(type="radio" name="bconfirmed" value="0" )
											| No
											span.circle
												span.check
							
					.row
						.col-md-6.my-3
							.form-group
								label.label-control Principal Sponsor
								input.form-control(type='text')
						.col-md-6.my-3
							.form-group
								input.form-control(type='text')
					.row
						.col-md-6.my-3
							.form-group
								label.label-control Additional
								input.form-control(type='text')
							.form-group
								input.form-control(type='text')
							.form-group
								input.form-control(type='text')
						.col-md-6.my-3
							.form-group
								input.form-control(type='text')
							.form-group
								input.form-control(type='text')
							.form-group
								input.form-control(type='text')

					.row
						.col-md-12.my-5.text-center
							//- a.btn-design.mx-2(href="#") Submit
							button.btn.btn-primary(type='submit') Submit
							a.btn-design.btn-valid(href="/guest/events") Cancel

block addjs
	script.
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
							