extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/wedding organizing/packban1.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Schedule
						p.text-uppercase.card-desc
							| Day | Time
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							//- hr.mt-5.mx-5
							//- h1.main--header.font-italic.text-center Mass Schedule
					 
					.row
						.col-md-12
							hr.mt-5.mx-5
							h1.main--header.font-italic.text-center We're getting married!
					.row
						.col-md-6
							<div class="card" style="width: 30rem;">
								<img src='/img/wedding organizing/pack1.jpg' alt="..." style= 'width:22rem; height:260px; margin-left:8%; margin-top: 5%'>
								<div class="card-body">
									<h4 class="card-title">Card title</h4>
									<p class="card-text">Some quick example .</p>
									<a href="#" class="btn btn-primary">Add</a>
								</div>
							</div>
						.row
						
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack2.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack3.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack8.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack4.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack5.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>
							.col-md-2
								<div class="card" style="width: 11rem;">
									<img src='/img/wedding organizing/pack7.jpg' alt="..." style= 'width:9rem; height:150px; margin-left:8%; margin-top: 5%'>
									<div class="card-body">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">Some quick example .</p>
										<a href="#" class="btn btn-primary">Add</a>
									</div>
								</div>