extends ./baseguests
block body
	header
		nav.navbar.navbar-color-on-scroll.navbar-transparent.fixed-top.navbar-expand-lg(color-on-scroll="100" id="sectionsNav")
			.container
				.navbar-translate
					a.navbar-brand(href="/guest")
						i.fa.fa-institution(aria-hidden="true") 
						| &nbsp; Church
					button.navbar-toggler(type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
						span.navbar-toggler-icon
						span.navbar-toggler-icon
				.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.active: a.nav-link(href="/guest" rel="tooltip" title="" data-original-title="Back to Home")
							| Home
						li.nav-item: a.nav-link(href="/guest/reservation")
							| Reservations
						//- li.nav-item: a.nav-link(href="/services" rel="tooltip" title="" data-original-title="See our services here")
						//- 	| Services
						//- li.nav-item: a.nav-link(href="#" rel="tooltip" title="" data-original-title="Read our articles")
						//- 	i.fa.fa-comments(aria-hidden="true") 
						//- 	| Blog
						//- li.nav-item: a.nav-link(href="#" rel="tooltip" title="" data-original-title="Email Us Now!")
						//- 	i.fa.fa-envelope-o(aria-hidden="true") 
						//- 	| Contact
						li.dropdown.nav-item
							a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown")
								| Services	
							.dropdown-menu.dropdown-with-icons
								a.dropdown-item(href="/guest/facilities")
									i.fa.fa-twitter(aria-hidden="true")
									| &nbsp; Facility Reservation
								a.dropdown-item(href="/guest/events")
									i.fa.fa-facebook-square(aria-hidden="true")
									| &nbsp; Event Application
								a.dropdown-item(href="/guest/document")
									i.fa.fa-instagram(aria-hidden="true")
									| &nbsp; Document Request
						li.dropdown.nav-item
							a.nav-link(href="#" data-toggle="dropdown")
								| Notifications	
						li.nav-item
							a.nav-link(href='/logout')
								span.no-icon Log out
						//- li.nav-item: a.nav-link(href="/login" rel="tooltip" title="" data-original-title="Login Now")
						//- 	| Login
						//- li.nav-item: a.nav-link(href="/signup" rel="tooltip" title="" data-original-title="Signup Now")
						//- 	| Sign Up

	block main
	
	footer.footer
		.container
			nav.pull-left
				ul
					li: a(href="#") Church
					li: a(href="#") About Us
					li: a(href="#") Blog
					li: a(href="#") Services
			.copyright.pull-right © 
				script.
					document.write(new Date().getFullYear())
				| , made with 
				i.fa.fa-heart
				|  by 
				a(href="#") SAD Team
				| ,	Ina ng Lupang Pangako Parish
